argbind==0.3.7
av==10.0.0
braceexpand==0.1.7
deepdiff==6.4.0
demucs==4.0.1a2
descript_audiotools==0.7.2
dora_search==0.1.12
einops==0.6.1
flash_attn==2.1.1
flashy==0.0.2
ftfy==6.1.1
gradio==3.41.2
h5py==3.9.0
horovod==0.28.1
huggingface_hub==0.15.1
intervaltree==3.1.0
ipython==8.14.0
julius==0.2.7
lac==0.0.1
langchain==0.0.278
librosa==0.10.0.post2
loralib==0.1.1
madmom==0.17.dev0
matplotlib==3.7.1
mcb==2.0.1
num2words==0.5.12
numpy==1.24.3
omegaconf==2.3.0
pandas==2.0.2
pedalboard==0.7.8
Pillow==9.5.0
Pillow==10.0.0
pydub==0.25.1
PyYAML==6.0
PyYAML==6.0.1
regex==2023.6.3
resampy==0.4.2
scikit_learn==1.2.2
scipy==1.11.2
setuptools==65.5.0
soundfile==0.12.1
spacy==3.5.2
timm==0.9.6
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchlibrosa==0.1.0
torchmetrics==1.0.1
torchvision==0.15.2+cu118
tqdm==4.65.0
transformers==4.31.0.dev0
typing_extensions==4.7.1
wandb==0.15.5
wavebeat==0.0.1
webdataset==0.2.48
wget==3.2
xformers==0.0.20
